@charset "utf-8";
/*@import url("./styleChecker.css");*/

*,
*::before,
*::after {
  box-sizing: border-box;
}


canvas { 
  background: #eee;
  display: block;
  margin: 0 auto;
}

.cntr {
  display: flex; justify-content: space-between; }


